.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    min-width: 980px;
    width: 100%;
    background-color: #211d1c;

}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

.header-logo {
    height: 100%;
    width: auto;
}

.header-contacts {
    font-weight: bold;
    font-size: 100%;
    text-align: right;
    color: #dfe1ba;
}

.header-feedback {
    text-decoration: underline;
}

.header-logo-text {
    font-size: 100%;
    padding: 10px;
    color: #dfe1ba;
}