body {
    display: flex;
    flex-direction: column;
    min-width: 980px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #3a312e;
}

.content-wrapper {
    padding: 0px;
    margin: 0px;
    min-height: calc(100vh - 200px);
    flex: 1 0 auto;
}
