.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 980px;
    width: 100%;
    height: 50px;
    background-color: #3a312e;
}

.menu ul {
    list-style: none;
    padding: 0px;
}

.menu li {
    display: inline;
}

.menu-link {
    color: #dfe1ba;
    text-decoration: none;
    padding: 20px;
}

.menu-link:hover {
    color: #f6ffd2;
    text-shadow: #f6ffd2 0 0 5px;
}